project = {{ project }}
AND (
  "Epic Link" in (ERRATA-7831,ERRATA-7819,ERRATA-7449,ERRATA-7821,ERRATA-7818,ERRATA-7427,ERRATA-7832,ERRATA-7599,ERRATA-7915,ERRATA-7429
                 )
)
AND status != Dropped
